/* @override http://localhost:8888/weallneed/media/css/style.css?v=2 */
/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/
/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/
html, body {height: 100%; overflow: hidden;}
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; font-family: 'Droid Serif', arial, serif;}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
nav ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}
ins {background-color: #ff9; color: #000; text-decoration: none;}
mark {background-color: #ff9; color: #000; font-style: italic; font-weight: bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom: 1px dotted; cursor: help;}
/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}
input, select {vertical-align: middle;}
/* END RESET CSS */
/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body {font: 13px/1.231 sans-serif; *font-size: small;}
/* hack retained to preserve specificity */
select, input, textarea, button {font: 99% sans-serif;}
/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp {font-family: monospace, sans-serif;}
/* 
 * minimal base styles 
 */
body, select, input, textarea {/* #
444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444;/* set y
our base font here, to apply evenly */
  /* font-
family: Georgia, serif;  */}
/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */
h1,h2,h3,h4,h5,h6 {font-weight: bold;}
/* always force a scrollbar in non-IE */
html {overflow-y: scroll;}
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}
a, a:active, a:visited {color: #607890;}
a:hover {color: #036;}
ul, ol {margin-left: 1.8em;}
ol {list-style-type: decimal;}
/* Remove margins for navigation lists */
nav ul, nav li {margin: 0;}
small {font-size: 85%;}
strong, th {font-weight: bold;}
td, td img {vertical-align: top;}
sub {vertical-align: sub; font-size: smaller;}
sup {vertical-align: super; font-size: smaller;}
pre {padding: 15px; /* www.pat
hf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
white-space: pre-wrap; /* CSS 2.1
*/
  white-space: pre-line; /* CSS 3 (
and 2.1 as well, actually) */
  word-wrap: break-word;/* IE */}
t
extarea {overflow: auto;}
/* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */
.ie6 legend, .ie7 legend {margin-left: -7px;}
/* thnx ivannikolic! */
/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom;}
.ie7 input[type="checkbox"] {vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}
/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button {cursor: pointer;}
/* webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}
/* colors for form validity */
input:valid, textarea:valid {}
input:invalid, textarea:invalid {border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid {background-color: #f0dddd;}
/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection {background: #7887BE; color: #fff; text-shadow: none;}
::selection {background: #7887BE; color: #fff; text-shadow: none;}
/*  j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #FF5E99;}
/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {width: auto; overflow: visible;}
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img {-ms-interpolation-mode: bicubic;}
/* 
 * Non-semantic helper classes 
 */
/* for image replacement */
.ir {display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr;}
/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {display: none; visibility: hidden;}
/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {position: absolute !important; clip: rect(1px 1px 1px 1px); /* IE6,
IE7 */
  clip: rect(1px, 1px, 1px, 1px);}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {visibility: hidden;}
/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {content: "\0020"; display: block; height: 0; visibility: hidden;}
.clearfix:after {clear: both;}
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix {zoom: 1;}
/* Primary Styles
    Author: 
 */
#container {height: 100%; position: relative; overflow: hidden;}

#main {min-width: 300px;width: 55%; max-width: 600px; height: 100%; position: absolute; top: 0; right: 0; background: #fff; border-left: 1px solid #aaa; -webkit-box-shadow: -5px 0 5px rgba(50,50,50,.2); -moz-box-shadow: -5px 0 5px rgba(50,50,50,.2); box-shadow: -5px 0 5px rgba(50,50,50,.2);}

header#banner {background: #aaa; color: #fff; padding: 1.4em;}
header#banner h1 {font-size: 3em;}
header#banner h2 {margin: -.5em .3em; font-weight: normal; font-family: 'Droid Sans', arial, serif;}
header#banner nav li {float: right; margin: 0 1em; cursor: pointer; font-family: 'Droid Sans', arial, serif;}
header#banner nav a {color: #fff; text-decoration: none; padding: .5em 1em;}
header#banner nav a:hover {background: #999; border-radius: 10px; -moz-border-radius: 10px; -webkit-box-shadow: 0 -5px 5px rgba(50,50,50,.1) inset, 0 2px 2px rgba(200,200,200,.4) inset; -moz-box-shadow: 0 -5px 5px rgba(50,50,50,.1) inset, 0 2px 2px rgba(200,200,200,.4) inset; box-shadow: 0 -5px 5px rgba(50,50,50,.1) inset, 0 2px 2px rgba(200,200,200,.4) inset;}

#qNav li {float: left; width: 50%; display: block; cursor: pointer; font-family: 'Droid Sans', arial, serif;}
#qNav li a {display: block; border-top: 2px solid #fff; color: #fff; text-decoration: none; padding: 1em 2em;}
#qNav li:nth-of-type(even) a {background: #1DB8B0; border-left:2px solid #fff;}
#qNav li:nth-of-type(odd) a {background: #7887BE;}

#tagcloud {width: 100%;background: rgba(50,50,50,.6); padding: .5em; -webkit-transition: all 0.6s; -moz-transition: all 0.6s; transition: all 0.6s; -webkit-box-shadow: 0 -5px 5px rgba(50,50,50,.6) inset; -moz-box-shadow: 0 -5px 5px rgba(50,50,50,.6) inset; box-shadow: 0 -5px 5px rgba(50,50,50,.6) inset; -webkit-box-shadow: 0 5px 5px rgba(50,50,50,.6) inset; -moz-box-shadow: 0 5px 5px rgba(50,50,50,.6) inset; box-shadow: 0 5px 5px rgba(50,50,50,.6) inset; display: none;}
#tagcloud:focus, #tagcloud:active, #tagcloud:target, #tagcloud.selected {background: rgba(50,50,50,.9);}
#tagcloud ul {display: block;}
#tagcloud li {list-style: none; float: left; margin: 0 1em;}
#tagcloud a {color: #aaa; text-decoration: none;}
#tagcloud.selected a, #tagcloud:focus a, #tagcloud:active a {color: #efefef; font-size: 3em;}

#quotelist {min-height: 480px; max-height: 100%; width: 100%; font-size: 2em; margin: 1em 0;overflow-y: scroll; overflow-x: hidden;}

#quotelist::-webkit-scrollbar {width: 8px; height: 8px; -webkit-transition: all 0.3s ease-in-out;}
#quotelist::-webkit-scrollbar-button:start:decrement {-webkit-border-radius: 6px; height: 0px; display: block; background-color: transparent;}
#quotelist::-webkit-scrollbar-button:end:increment {height: 7px; display: block; background-color: transparent;}
#quotelist::-webkit-scrollbar-track-piece {margin-right: 10px !important; background-color: #eee; -webkit-border-radius: 5px;}
#quotelist::-webkit-scrollbar-thumb:vertical, ::-webkit-scrollbar-thumb:horizontal {height: 50px; background-color: #9a9a9a; -webkit-border-radius: 5px;}
#quotelist::-webkit-scrollbar-thumb:vertical:hover, ::-webkit-scrollbar-thumb:horizontal:hover {background-color: #5e5e5e; -webkit-box-shadow: 0 0 2px #ccc;}

#quotelist article {padding: 1.2em 1.5em; border-top: 1px dotted transparent;background: #fff; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; transition: all 0.3s; cursor: pointer;}
#quotelist article.selected {border-top: 1px dotted #aaa; border-bottom: 1px dotted #aaa;}
#quotelist article .infobox {position: absolute; bottom: 0; right: 105%; margin: 1em 0; background: #fff; padding: 10px; border: 1px solid #aaa;opacity: 0; -webkit-transition: opacity ease-in 0.4s; -moz-transition: opacity ease-in 0.4s; transition: opacity ease-in 0.4s; -webkit-box-shadow: 0 0 10px rgba(50,50,50,.5); -moz-box-shadow: 0 0 10px rgba(50,50,50,.5); box-shadow: 0 0 10px rgba(50,50,50,.5); cursor: auto; z-index: -1;}
#quotelist article.selected .infobox {opacity: 1; z-index: 100;}
#quotelist article .infobox:active, #quotelist article .infobox:focus {opacity: 0 !important;}

#map {float: left; min-height: 600px; min-width: 600px;width: 100%; height: 100%;}

svg { width: 100%; height: 100%; }
.compass .back { fill: #eee; fill-opacity: .8; }
.compass .fore { stroke: #999; stroke-width: 1.5px; }
.compass rect.back.fore { fill: #999; fill-opacity: .3; stroke: #eee; stroke-width: 1px; shape-rendering: crispEdges; }
.compass .direction { fill: none; }
.compass .chevron { fill: none; stroke: #999; stroke-width: 5px; }
.compass .zoom .chevron { stroke-width: 4px; }
.compass .active .chevron, .compass .chevron.active { stroke: #fff; }
.compass.active .active .direction { fill: #999; }
#tenderloin path { fill:#999; stroke-opacity:0; } #streets_loc { fill:#e22; fill-opacity:0; stroke-opacity:0; stroke:#00f;}
.street-names { fill:#000; fill-opacity:1; font-family:Helvetica; font-weight:bold; } #surrounding path { fill-opacity:0;
stroke:#666; stroke-width:.5px; }

#mobilefoot {display: none;}

#footer {position: absolute; bottom: 0;}
/*
 * Media queries for responsive design
 * These follow after primary styles so they will successfully override. 
 */
@media all and (orientation:portrait) {
/* Style adjustments for portrait mode goes here */
#container {width: 320px;}
#main {width: 100%}
}
@media all and (orientation:landscape) {
/* Style adjustments for landscape mode goes here */
}
/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
#container {max-width: 480px; min-width: 320px;}
#quotelist article img {position: relative; top: 0; left: 0; height: 0; width: 0;}
#quotelist article:target img {height: inherit; width: inherit; max-width: 305px;}
#mobilefoot {display: block; position: fixed; top: 0; width: 100%; background: rgba(50,50,50,.4); z-index: 100;}
#mobilefoot ul {list-style: none;}
#mobilefoot li {float: left; width: 33%; text-align: center;}
/* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you
     j.mp/textsizeadjust 
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
/
* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
* {background: transparent !important; color: #444 !important; text-shadow: none !important;}
a, a:visited {color: #444 !important; text-decoration: underline;}
a:after {content: " (" attr(href) ")";}
abbr:after {content: " (" attr(title) ")";}
.ir a:after {content: "";}
/* Don't show links for images */
pre, blockquote {border: 1px solid #999; page-break-inside: avoid;}
thead {display: table-header-group;}
/* css-discuss.incutio.com/wiki/Printing_Tables */
tr, img {page-break-inside: avoid;}
  @page { margin: 0.5cm; }
p, h2, h3 {orphans: 3; widows: 3;}
h2, h3 {page-break-after: avoid;}
}